*{
    padding: 0;
    margin: 0;
    box-sizing: border-box;
}
.parent h2{
   
}
.one{
    background-image:url('../images/figma/nature.jpg');
    background-repeat: no-repeat;
    background-size: auto;
    background-position: center;
    padding:20px;
    height: 100vh;
    width: 100vw;
    display: flex;
   justify-content: center;
   align-items: center;
}