* {
    padding: 0;
    margin: 0;
    box-sizing: border-box;

}

html {
    scroll-behavior: smooth;
}

body {
    overflow-x: hidden;
}

.parent {
    background-color: rgb(240, 213, 179);
    height: 100vh;
    width: 100vw;
    display: flex;
    justify-content: center;
    align-items: center;
    padding: 20px;
}

.child {
    background-color: rgb(247, 210, 165);
    height: 250px;
    width: 300px;
    padding: 30px;
    border-radius: 20px;

}

.child p {
    margin-top: 10px;
}

.child:hover {
    background-color: rgb(248, 159, 86);
    transform: scale(1.05)  rotate(40deg);;
}


.child::before{
   content: "Profile";
   color: rgb(92, 89, 89);
   display: block;
   font-size:22;
   font-weight: bold;
}


.child::after{
   content: "*";
   color: rgb(95, 92, 92);
   display: block;
}