* {
    padding: 0;
    margin: 0;
    box-sizing: border-box;

}

html {
    scroll-behavior: smooth;
}

body {
    overflow-x: hidden;
}

section {
    min-height: 100hv;
}



.navbar {
    background-color: rgb(26, 32, 65);
    color: white;
    padding: 20px;
    display: flex;
    justify-content: space-between;

}

.start {
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 10px;
    margin-left: 50px;

}

.option {
    display: flex;
    justify-content: center;
    align-items: center;
    margin-right: 50px;

}

.start a {
    border: 1px dotted;
    border-radius: 3px;
    padding: 2px;
    color: white;

}

.option select {
    background-color: rgb(26, 32, 65);
    padding: 5px;
    color: white;
    border-radius: 5px;

}

.course {
    background-color: rgb(26, 32, 65);
    color: white;
    padding: 10px;
    display: flex;
    justify-content: start;


}

.course a {
    margin-left: 60px;
    text-decoration: none;
    color: white;
}

.parent {
    background-color: rgb(235, 224, 224);
    width: 100vw;
    height: 200vh;
    padding: 30px;

}

.parent-one {
    display: grid;
    grid-template-rows:250px 270px 200px;
    gap: 20px;
}

.content {
    background-color: white;
    color: black;
    padding: 30px;
    border-radius: 10px;
}
.one{
    margin-top: 20px;
}
.two{
    margin-top: 20px;
}
.content h3{
    margin-bottom: 5px;
}
.content h4{
     margin-top: 20px;
     margin-bottom:5px ;
}

.parent-two {
    background-color: white;
    color: black;
    padding: 20px;
    display: grid;
    grid-template-columns: 300px 1fr;
    border-radius: 10px;
}

.right {
    margin-left: 5px;
    margin-top: 55px;

}

.left {
    padding: 20px
}

.right p,
button {
    font-size: 15px;
    margin-top: 10px;
}

.right button {
    background-color: orangered;
    border-radius: 5px;
    padding: 5px;
    color: aliceblue;
    border: none;
}

.left img {
    margin-top: 20px;
}
.parent-three{
    background-color: white;
    color: black;
    padding: 30px;
    border-radius: 10px;
}

.final{
    display: flex;
    align-items: center;
    gap: 80px;
    margin-top: 30px;
}

.left-one{
    display: flex;
    align-items: center;
    gap: 15px;
}

.middle{
    border-left: 1px solid lightgray;
    padding-left: 40px;
}

.right-one{
    border-left: 1px solid lightgray;
    padding-left: 40px;
}

.parent-three a{
    text-decoration: none;
    color: blue;
}

.trainer p,
.middle p{
    margin-top: 5px;
}
.parent-three h3{
    margin-bottom: 20px;
}