
        h1 {
            background-color: azure;
            color: blueviolet;
        }

        h2 {
            background-color: aquamarine;
            color: blue;
        }

        p {
            background-color: beige;
            color: darkslategrey
        }

        h2 {
            background-color: beige;
            color: darkblue
        }

        ul {
            background-color: rgb(219, 200, 174);
            color: darkmagenta
        }

        h2 {
            background-color: rgb(191, 192, 191);
            color: crimson
        }

        div {
            background-color: antiquewhite;
            color: midnightblue
        }

        b {
            background-color: azure;
            color: blue;
        }

        h2 {
            background-color: rgb(136, 136, 145);
            color: mediumblue;
        }

        div {
            background-color: ghostwhite;
            color: blueviolet;
        }
   